footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 47px 0 23px 0;
    .footer_primer-txt {
        font-family: 'Roboto';
        font-size: 15px;
        color: #000000;
        letter-spacing: 0; 
    }
    .redes {
        margin: 22px 0 46px 0;
        display: flex;
        gap: 20px;
    }
    .footer_segundo-txt {
        font-family: 'Roboto';
        font-size: 14px;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px; 
    }
    @media screen and (min-width: 1024px){
        justify-content: center;
        font-family: 'Roboto';
        font-size: 13px;
        flex-flow: row nowrap;
        padding: 47.4px 0 48.4px 0;
        .redes {
            margin: 0 735px 0 17px;
        }
    }
}